/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Spicy+Rice&display=swap');

/* Keyframes for sliding animations */
@keyframes slideright {
    from{
        transform: translateX(50vw);
    }
    to{
        transform:translateX(0);
    }
}
@keyframes slideleft {
    from{
        margin-left: -30vw;
    }
    to{
        margin-left: 0vw;
    }
}
@keyframes sliderights {
    from{
        transform: translateX(10vw);
    }
    to{
        transform:translateX(0);
    }
}
@keyframes downtoup{
    from{
       transform:translate(0,100vh);
    }
    to{
        transform: translate(0,0);
    }
}
@keyframes uptodown{
    from{
       transform:translate(0,-100vh);
    }
    to{
        transform: translate(0,0);
    }
}
@keyframes fillbars{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
html{
    scrollbar-width: thin;
    scrollbar-color: #CC9376 #17171b;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: black;
    font-family: "Roboto Slab", serif;
}
p{
    background-color: rgba(0, 0, 0, 0);
}
h1{
    background-color: rgba(0, 0, 0, 0);
}
strong{
    background-color: rgba(0, 0, 0, 0);
}
address{
    background-color: rgba(0, 0, 0, 0);
}
a{
    background-color: rgba(0, 0, 0, 0);
}
img{
    background-color: rgba(0, 0, 0, 0);
}
h3{
    background-color: rgba(0, 0, 0, 0);
}
ul{
    background-color: rgba(0, 0, 0, 0);
}
li{
    background-color: rgba(0, 0, 0, 0);
}
#HomePage{
    background-image: url('./media/HomeBackground1.jpg');
    width:100vw;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    position: fixed;
    z-index:-1;
    display:block;
    animation:none;
}
#AboutPage{
    overflow-x: hidden;
    animation-name: downtoup;
    animation-duration: 1s;
    display:none;
}
.Overlay{
    width:100vw;
    height:100vh;
    background: rgb(0, 0, 0);
    opacity:0.87;
    z-index:0;
    position: absolute;
}
.Pagemark{
    background-color: rgba(0, 0, 0, 0);
    position:absolute;
    top:3.5vh;
    left:7vw;
    font-size:25;
    color:white;
    z-index:1;
}
.Menu,
.Close,
.Menu2,
.Close2{
    position:fixed;
    z-index:5;
    right:10vw;
    top:4vh;
    display:none;
    background-color: rgba(0, 0, 0, 0);
    z-index:9;
}
.Menu svg,
.Close svg,
.Menu2 svg,
.Close2 svg{
    background-color: rgba(0, 0, 0, 0);
    width:5vh;
    height:5vh;
}
.About,
.Projects,
.Skills,
.Experience{
    position:absolute;
    background-color:#CC9376;
    color:black;
    transition:0.5s ease;
    top:3.5vh;
    text-align: center;
    height:6vh;
    border-radius:3em;
    text-decoration: none;
    font-size:calc(1vw + 1vh);
    line-height:6vh;
    width:10vw;
}
#AboutPage .Home,
#AboutPage .About,
#AboutPage .Projects,
#AboutPage .Skills,
#AboutPage .Experience{
    position:absolute;
    background-color:#00000000;
    color:#CC9376;
    transition:0.5s ease;
    top:1vh;
    text-align: center;
    height:3vh;
    border-radius:3em;
    text-decoration: none;
    font-size:calc(1vw + 1vh);
    line-height:6vh;
    width:10vw;
}
.About:hover,
.Projects:hover,
.Skills:hover,
.Experience:hover{
    background-color:#CD7F32;
}
#AboutPage .Home:hover,
#AboutPage .About:hover,
#AboutPage .Projects:hover,
#AboutPage .Skills:hover,
#AboutPage .Experience:hover{
    color:#CD7F32;
}
.About{
    margin-left:50vw;
}
.Projects{
    margin-left:61vw;
}
.Skills{
    margin-left:72vw;
}
.Experience{
    margin-left:83vw;
}
#AboutPage .Home{
    margin-left:60vw;
}
#AboutPage .About{
    margin-left:65vw;
}
#AboutPage .Projects{
    margin-left:71vw;
}
#AboutPage .Skills{
    margin-left:77vw;
}
#AboutPage .Experience{
    margin-left:84vw;
}
main{
    Position:absolute;
    background-color: rgba(0, 0, 0, 0);
}
.kw333{
    text-decoration: none;
    color:white;
}
.welcontainer{
    position:relative;
    overflow:hidden;
    left:13vw;
    top:19vh;
    width:40vw;
    height:20vh;
    background-color: rgba(0, 0, 0, 0);
}
.welcome{
    animation-name:slideleft;
    animation-duration: 2.5s;
    font-family: "Spicy Rice", serif;
    font-size:calc(4.5*(1vw + 1vh));
    left:5vw;
    width:40vw;
    height:20vh;
    color:#CC9376;
    position: absolute;
}
.block{
    content:'';
    width:2vw;
    height:15vh;
    background:linear-gradient(#CC9376,#FFE4D6,#CC9376);
    left:13vw;
    top:20vh;
    border: 0.5em solid #402111;
    border-radius: 2em;
    position:absolute;
}
footer{
    position:absolute;
    background-color:#000000;
}
.me{
    position: absolute;
    left:10vw;
    top:40vh;
    text-align:center;
    font-family: "Roboto Slab", serif;
    font-size: calc(2*(1vw + 1vh));
    color:#FFE4D6;
    width:40vw;
    height:30vh;
    background-color: rgba(0, 0, 0, 0);
}
.me strong{
    color:#CC9376;
}
.you{
    position:absolute;
    left:13vw;
    top:68vh;
    text-align:center;
    font-family: "Roboto Slab", serif;
    font-size: calc(2*(1vw + 1vh));
    color:#FFE4D6;
    width:35vw;
    height:20vh; 
    background-color: rgba(0, 0, 0, 0);
}
.you strong{
    color:#CC9376;
}
.footbar{
    width:100%;
    background-color: #000000;
    position:absolute;
    height:10vh;
    margin-top: 90vh;
}
.Potrait{
    position:absolute;
    top: 15vh;
    left: 53vw;
    width: 40vw;
    height: 40vw;
    background-color: rgba(0, 0, 0, 0);
}
.Potrait img{
    animation-name: slideright;
    animation-duration: 2s;
    width:38vw;
    height:35vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}
.sMedia,
.formalM{
    margin-top:1vh;
    background-color: rgba(0, 0, 0, 0);
    word-spacing: 1vw;
    display: inline-block;
}
.sMedia {
    margin-left: 4vw;
}
.formalM {
    margin-right: 10vw;
}
.sMedia img,
.formalM img{
    transition:0.5s ease;
    width:3.5vw;
    height:3.5vw;
    background-color: rgba(0, 0, 0, 0);
}
.sMedia img:hover,
.formalM img:hover{
    transform: scale(0.7);
}
.footbar {
    display: flex;
    justify-content: space-between;
}
.Hello{
    top:15vh;
    width:100vw;
    background-color: rgba(0,0,0,0);
    text-align: center;
    font-size:calc(4*(1vw + 1vh));
    position: absolute;
    color:#CC9376;
}
.mySection{
    display:grid;
    place-items: center;
    align-content: center;
    position:relative;
    width:100%;
}
#aboutsection{
    height:380vh;
}
.rekas{
    position:absolute;
    color:white;
    top:3vh;
    font-size:calc(1vw + 1vh);
    left:3vw;
    background-color: rgba(0, 0, 0, 0);
}
.Navigationbar{
    position:fixed;
    background-color:rgba(0, 0, 0, 0.9);
    width:100vw;
    height:7vh;
    z-index:3;
}
.Me1{
    top:32vh;
    left:20vw;   
    width:60vw;
    color:#844b2e;
    position:absolute;
    font-size: calc(1.07*(1vw + 1vh));
    text-align: center;
}
.Me2{
    top:60vh;
    left:15vw;
    color:#844b2e;
    width:30vw;
    position:absolute;
    font-size:calc(1.03*(1vw + 1vh));
    text-align: left;
    opacity:0;
    transition: all 2s;
}
.Me2 img{
    width:25vw;
    height:25vw;
    border-radius: 20% 20% 20% 20%;
    position :absolute;
    left:38vw;
    object-fit: cover;
    top:-9vh;
    box-shadow: 1vw 1vw 1vw 1vw #755341;

} 
.Me3{
    top:115vh;
    left:50vw;
    color:#844b2e;
    width:30vw;
    position:absolute;
    font-size:calc(1.03*(1vw + 1vh));
    text-align: left;
    opacity:0;
    transition: all 2s;
}
.Me3 img{
    width:28vw;
    height:35vw;
    border-radius: 20% 20% 20% 20%;
    position :absolute;
    left:-35vw;
    object-fit: cover;
    top:-10vh;
    box-shadow: -1vw 1vw 1vw 1vw #755341;
} 
.Me4{
    top:192vh;
    left:15vw;
    color:#844b2e;
    width:30vw;
    position:absolute;
    font-size:calc(1.03*(1vw + 1vh));
    text-align: left;
    opacity:0;
    transition: all 2s;
}
.Me4 img{
    width:28vw;
    height:40vw;
    border-radius: 20% 20% 20% 20%;
    position :absolute;
    left:35vw;
    object-fit: cover;
    top:-8vh;
    box-shadow: 1vw 1vw 1vw 1vw #755341;
} 
.Me5{
    top:282vh;
    left:50vw;
    color:#844b2e;
    width:30vw;
    position:absolute;
    font-size:calc(1.03*(1vw + 1vh));
    text-align: left;
    opacity:0;
    transition: all 2s;
}
.Me5 img{
    width:28vw;
    height:35vw;
    border-radius: 20% 20% 20% 20%;
    position :absolute;
    left:-35vw;
    object-fit: cover;
    top:-10vh;
    box-shadow: -1vw 1vw 1vw 1vw #755341;
} 
#Projectspage{
    min-height:120vh;
}
#Projectspage h2{
     color:white;
     position:absolute;
     top:0vh;
     display:grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 1.6rem;
     align-items: center;
}
#Projectspage h2::before, 
#Projectspage h2::after{
     content:"";
     height:0.2vw;
     display:block;
     background-color: #CC9376;
}
.P{
    position :absolute;
    display:grid;
    grid-template-columns: auto auto auto;
    row-gap: 8vh;
    column-gap: 6vw;
    align-items:center;
}
.P a{
    position:relative;
    top:8vh;
}
.programinglist{
    margin:0;
    padding:0;
    position: relative;
    width: 100%;
    display:flex;
    justify-content: center;
    
}
.programinglist li{
    display:inline-block;
    margin-top: 1vh;
    padding:0.8vw;
    font-size: calc(0.74*(1vw + 1vh));
}
.P a:hover img{
    transform: scale(1.2);
    filter: blur(10px);
    border-radius:0% 0% 0% 0%;
    opacity:1;
}
.P div{
    opacity:0;
}
.P a:hover div{
    opacity: 1;
    transition-delay: 200ms;
}
.Pinfo{
    top:0;
    left:0;
    position:absolute;
    transition:0.6s ease;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
.Pinfo h3{
    text-align: center;
    font-size: calc(1.5*(1vw + 1vh));
}
.P img{
    width:20vw;
    height:20vw;
    border-radius: 20% 20% 20% 20%;
    object-fit: cover;
    box-shadow: 1vw 1vw 1vw 1vw #211813;
    transition: 0.5s;
}
.Pinfo p::before{
content:"";
height:0.2vw;
border-radius:2vh;
background-color: #CC9376;
display:block;
margin-bottom: 1vh;
}
.Pinfo p{
    font-size: calc(0.8*(1vw + 1vh));
}
.P1{
    color:white;
}
.P2{
    color:black;
}
.P3{
    color:white;
}
.P4{
    color:black;
}
.P5{
    color:white;
}
.P6{
    color:black;
}
#SkillsPage{
    min-height:240vh;
}
#SkillsPage h2{
     color:white;
     position:absolute;
     top:10vh;
     display:grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 1.6rem;
     align-items: center;
}
#SkillsPage h2::before, 
#SkillsPage h2::after{
     content:"";
     height:0.2vw;
     display:block;
     background-color: #CC9376;
}
.skills{
    width:100%;
    max-width:60vw;
    padding:0 10vh;
}
.skill{
    height:15vh;
    width:100%;
}
.skill-name{
    position:relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    top:75%;
    left:-6vw;
    font-size:calc(1vh + 1vw);
    color:#402111;
    margin:2vw;
}
.skill-name img{
    width:5vw;
    height:5vw;
}
.skill-bar{
    height:3.5vh;
    background:#17171b;
    border-radius: 3vw;
}
.skill-per{
    height:3.5vh;
    background:#CD7F32;
    border-radius: 3vw;
    position:relative;
}
.skill-per::before{
    content: attr(per);
    position:absolute;
    padding:0.5vw 0.5vw;
    background: white;
    border-radius: 0.6vw;
    font-size:calc(0.6vw + 0.6vh);
    top:-6vh;
    z-index: 1;
    right:0;
    transform: translateX(50%);
}
.skill-per::after{
    content:'';
    position:absolute;
    width:1vw;
    height:1vw;
    background:white;
    top:-3vh;
    right:0;
    transform: translateX(50%) rotate(45deg);
}
.fill{
    animation:fillbars 4s 1;
}
#ExperiencePage{
    min-height:110vh;
}
#ExperiencePage h2{
     color:white;
     position:absolute;
     top:0vh;
     display:grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 1.6rem;
     align-items: center;
}
#ExperiencePage h2::before, 
#ExperiencePage h2::after{
     content:"";
     height:0.2vw;
     display:block;
     background-color: #CC9376;
}
.timeline-container {
    max-width: 60vw;
    margin: auto;
    padding: 2vw;
} 
.timeline {
    position: relative;
    padding: 20px 0;
    list-style: none;
}
  
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0.2vw;
    background:#CC9376;
    border-radius: 0.1vw;
}
  
.timeline-item {
    position: relative;
    width: 50%;
    padding: 2vw 4vw;
    box-sizing: border-box;
}
  
.timeline-item:nth-child(odd) {
    left: 0;
}
  
.timeline-item:nth-child(even) {
    left: 50%;
}
  
.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -0.5vw;
    width: 10px;
    height: 10px;
    background: #402111;
    border: 2px solid #CD7F32;
    border-radius: 50%;
}
  
.timeline-item:nth-child(even)::before {
    right: auto;
    left: -2vw;
}
  
.timeline-date {
    font-size: 1em;
    color: #CD7F32;
    margin-bottom: 5px;
}
  
.timeline-content {
    background: #0707075f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(178, 44, 44, 0.1);
    color:white;
}
  
.timeline-content h3 {
    margin-top: 0;
    font-size: 1.2em;
}
  
.timeline-content p {
    margin-bottom: 1vh;
}
  
.timeline-content ul {
    list-style: none;
    padding: 0;
}
  
.timeline-content ul li {
    margin-bottom: 1vh;
}
  
.timeline-content em {
    font-style: italic;
    color: #CC9376;
}
.download{
    width:3vw;
    height:3vw;
    position:fixed;
    top:80vh;
    right:20vw;
    background-color: black;
    animation: fade 1s;
    transition: ease 1s;
}
.download:hover{
    transform: scale(0.8);
}
#ContactPage{
    width:100%;
    height:100vh;
}
#ContactPage h2{
    color:white;
    position:absolute;
    top:10vh;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.6rem;
    align-items: center;
}
#ContactPage h2::before, 
#ContactPage h2::after{
     content:"";
     height:0.2vw;
     display:block;
     background-color: #CC9376;
}
.contactleft {
    position: relative; /* Relative positioning */
    width: 30vw; /* Set width */
    height: 60vh; /* Set height */
    transform: translate(0,-40%); /* Translate position */
    top: 50%; /* Position from top */
    right:-17vw;
    background: rgba(3, 3, 3, 0); /* Semi-transparent background */
    border-radius: 2vw 2vw 2vw 2vw; /* Rounded corners */
    z-index: 1;
}

/* Contact input styling */
.contactInputs {
    display: flex; /* Flexbox layout */
    align-items: center; /* Center align items */
    justify-content: center; /* Center justify items */
    background: rgba(255, 255, 255, 0.447); /* Semi-transparent background */
    transition: ease 0.8s; /* Smooth transition */
}

/* Contact input hover effect */
.contactInputs:hover {
    background: rgba(255, 255, 255, 0.847); /* More opaque background */
}

/* Contact input placeholder styling */
.contactInputs::placeholder,
.contactInputs{
    text-align: center; /* Center align text */
    color: black; /* Text color */
    font-family: 'Franklin Gothic Medium'; /* Font family */
}

/* First contact input styling */
.contactInputs:nth-child(2) {
    position: absolute; /* Absolute positioning */
    border-radius: 2vw; /* Rounded corners */
    height: 10%; /* Set height */
    width: 80%; /* Set width */
    left: 10%; /* Position from left */
    top: 5%; /* Position from top */
}

/* Second contact input styling */
.contactInputs:nth-child(3) {
    position: absolute; /* Absolute positioning */
    border-radius: 2vw; /* Rounded corners */
    height: 10%; /* Set height */
    width: 80%; /* Set width */
    left: 10%; /* Position from left */
    top: 20%; /* Position from top */
}

/* Third contact input styling */
.contactInputs:nth-child(4) {
    position: absolute; /* Absolute positioning */
    border-radius: 2vw; /* Rounded corners */
    height: 50%; /* Set height */
    width: 80%; /* Set width */
    left: 10%; /* Position from left */
    top: 35%; /* Position from top */
    transition: ease 1s; /* Smooth transition */
}
/* Third contact input hover effect */
.contactInputs:nth-child(4):hover {
    border-radius: 0; /* Remove rounded corners */
}
/* Submit button styling */
.submitbtn {
    position: absolute; /* Absolute positioning */
    border-radius: 2vw; /* Rounded corners */
    height: 10%; /* Set height */
    width: 20%; /* Set width */
    left: 40%; /* Center horizontally */
    top: 87%; /* Position from top */
    cursor: pointer; /* Pointer cursor */
    transition: ease 0.7s; /* Smooth transition */
    background: rgba(255, 255, 255, 0.447); /* Semi-transparent background */
}
/* Submit button hover effect */
.submitbtn:hover {
    background-color:#CC9376; /* Change background color */
    color: black; /* Change text color */
}
.mailimg{
    position:absolute;
    z-index: 0;
    width: 40vw;
    top:50%;
    opacity:0.2;
    left:15vw;
    transform: translate(0,-50%);
}
.mobilenav{
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:10;
    display:none;
    animation: uptodown 1s 1 ;
}
.mobilenav2{
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:10;
    display:none;
    animation: uptodown 1s 1 ;
}
.mnav{
    width:100%;
    position:absolute;
    top:15%;
    text-align: center;
    display:grid;
    height:30%;
    background-color: rgba(0, 0, 0, 0);
    row-gap: 2vh;
    align-items: center;
}
.mnav2{
    width:100%;
    position:absolute;
    top:15%;
    text-align: center;
    display:grid;
    height:30%;
    background-color: rgba(0, 0, 0, 0);
    row-gap: 2vh;
    align-items: center;
}
.mnav a{
    color:#CC9376;
    text-decoration: none;
    background-color: #722d0b4d;
    font-size: calc(2vw + 2vh);
    height: 5vh;
    line-height: 5vh;
}
.mnav2 a{
    color:#CC9376;
    text-decoration: none;
    background-color: #722d0b4d;
    font-size: calc(2vw + 2vh);
    height: 5vh;
    line-height: 5vh;
}
.socialmicons{
    width:100%;
    position:absolute;
    display:grid;
    grid-template-columns: auto auto;
    top:60%;
    padding:0vh 7vh;
    column-gap: 15vh;
    row-gap: 3vh;
}
.socialmicons a{
    background-color:#722d0b4d ;
    width:7vh;
    height:7vh;
    border-radius: 3vh;
}
.socialmicons img{
    position:relative;
    width:5vh;
    height:5vh;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
@media only screen and (max-width: 850px){
    #HomePage{
        background-image:none;
    }
    .Overlay{
        display:none;
    }
    .Potrait img{
        width:80vw;
        height:45vh;
        border-radius:0%;
        animation: none;
        display:flex;
        align-items: center;
        z-index:-1;
    }
    .Potrait{
        top:5.5vh;
        left:10vw;
        width:80vw;
        height:40vh;
        z-index:-1;
    }
    .welcontainer{
        animation-name: slideright;
        animation-duration: 2s;
        left:0vw;
        top:44vh;
        width:100vw;
        height:20vh;
        z-index:1;
    }
    @keyframes slideleft {
        from{
            margin-left: -100vw;
        }
        to{
            margin-left:-4vw;
        }
    }
    @keyframes slideright{
        from{
            transform: translateX(80vw);
        }
        to{
            transform:translateX(0px);
        }
    }
    .welcome{
        animation-name:slideleft;
        font-size:calc(5*(1vw + 1vh));
        width:100vw;
        height:20vh;
        text-align: center;
        color:#CC9376;
        position: absolute;
        z-index:1;
        margin-left:-4vw;
    }
    .block{
        display:none;
    }
    .Menu,
    .Close,
    .Menu2,
    .Close2{
        top:1.5vh;
        right:3vw;
    }
    .Menu{
        display:block;
    }
    .Close{
        display:none;
    }
    .Menu2{
        display:block;
    }
    .Close2{
        display:none;
    }
    .me{
        left:15vw;
        top:53vh;
        font-size: calc(2.8*(1vw + 1vh));
        width:70vw;
    }
    .Pagemark{
        font-size:calc((1vw + 1vh));
        margin-top:-1vh;
        margin-left:0vw;
    }
    .navButtons{
        display:none;
        animation-name:slideleft;
    }
    .footbar{
        background-color: black;
    }
    .you{
        left:20vw;
        top:75vh;
        font-size: calc(3*(1vw + 1vh));
        width:60vw;
        height:20vh; 
    }
    .sMedia{
        display:none;
    }
    .formalM {
        display:none; 
    }
    #aboutsection{
        height:3300px;
    }
    .rekas{
        font-size:calc((1.7vw + 1.7vh));
        top:2vh;
        left:6vw;
    }
    .Me1{
        top:25vh;
        left:10%;   
        width:80%;
        color:#844b2e;
        position:absolute;
        font-size: calc(1.5*(1vw + 1vh));
        text-align: center;
    }
    .Me2{
        top:111vh;
        left:10%;
        width:80%;
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
    }
    .Me2 img{
        width:80vw;
        height:80vw;
        left:0;
        top:-85vw;
    } 
    .Me3{
        top:202vh;
        left:10%;
        width:80%;
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
    }
    .Me3 img{
        width:80vw;
        height:80vw;
        left:0;
        top:-85vw;
    } 
    .Me4{
        top:303vh;
        left:10%;
        width:80%;
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
    }
    .Me4 img{
        width:80vw;
        height:80vw;
        left:0;
        top:-85vw;
    } 
    .Me5{
        top:416vh;
        left:10%;
        width:80%;
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
    }
    .Me5 img{
        width:80vw;
        height:80vw;
        left:0;
        top:-85vw;
    } 
    #Projectspage{
        min-height:620vw;
    }
    #Projectspage h2{
        font-size:calc(1.2*(1vw + 1vh));
        text-align: center;
        width:100%;
    }
    .P{
        grid-template-columns: auto;
    }
    .P img{
        width:80vw;
        height:80vw;
    }
    .Pinfo p{
        font-size: calc(1.8*(1vw + 1vh));
        text-align: center;
    }
    #SkillsPage{
        min-height:100vh;
    }
    #SkillsPage h2{
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
        width:100%;
    }
    .skills{
        padding:0 2vh;
    }
    .skill{
        height:6vh;
        width:100%;
    }
    .skill-name{
        position:relative;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
        top:65%;
        left:-6vw;
        font-size:calc(1vh + 1vw);
        color:#402111;
        margin:2vw;
    }
    .skill-name img{
        width:7vw;
        height:7vw;
    }
    .skill-bar{
        height:2vh;
    }
    .skill-per{
        height:2vh;
        background:#CD7F32;
        border-radius: 3vw;
        position:relative;
    }
    .skill-per::before{
        font-size:calc(0.6vw + 0.6vh);
        top:-2vh;
    }
    .skill-per::after{
        top:-0.7vh;
    }
    #ExperiencePage{
        min-height:230vh;
    }
    #ExperiencePage h2{
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
        width:100%;
    }
    .timeline-container {
        max-width: 80vw;
        margin: auto;
        padding: 2vw;
    } 
    .timeline {
        position: relative;
        padding: 20px 0;
        list-style: none;
    }
      
    .timeline::before {
        display:none;
    }
      
    .timeline-item {
        position: relative;
        width: 100%;
        top:10%;
        padding: 2vw 4vw;
        box-sizing: border-box;
    }  
    .timeline-item:nth-child(even) {
        left: 0%;
    }
    .timeline-item::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -0.5vw;
        width: 10px;
        height: 10px;
        background: #402111;
        border: 2px solid #CD7F32;
        border-radius: 50%;
    }  
    .timeline-item::before {
        right: 0;
        left: -2vw;
    }
    .download{
        width:10vw;
        height:10vw;
        right:5vw;
    }
    #ContactPage h2{
        font-size:calc(1.5*(1vw + 1vh));
        text-align: center;
        width:100%;
    }
    #ContactPage h2::before, 
    #ContactPage h2::after{
         content:"";
         height:0.2vw;
         display:block;
         background-color: #CC9376;
    }
    .contactleft {
        position: absolute; /* Relative positioning */
        width: 80vw; /* Set width */
        transform: translate(-50%,-40%); /* Translate position */
        top: 50%; /* Position from top */
        left:50%;
        background: rgba(3, 3, 3, 0); /* Semi-transparent background */
        border-radius: 2vw 2vw 2vw 2vw; /* Rounded corners */
        z-index: 1;
    }
    
    /* Contact input styling */
    .contactInputs {
        font-size:calc(1.5*(1vw + 1vh));
    }
    /* Submit button styling */
    .submitbtn {
        font-size:calc(1.5*(1vw + 1vh));
        border-radius: 10vw;
    }
    /* Submit button hover effect */
    .submitbtn:hover {
        background-color:#CC9376; /* Change background color */
        color: black; /* Change text color */
    }
    .mailimg{
        position:absolute;
        z-index: 0;
        width: 80vw;
        top:50%;
        opacity:0.2;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .mobilenav{
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index:10;
        display:none;
        animation: uptodown 1s 1 ;
    }
    .mobilenav2{
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index:10;
        display:none;
        animation: uptodown 1s 1 ;
    }
    .mnav{
        width:100%;
        position:absolute;
        top:15%;
        text-align: center;
        display:grid;
        height:30%;
        background-color: rgba(0, 0, 0, 0);
        row-gap: 2vh;
        align-items: center;
    }
    .mnav2{
        width:100%;
        position:absolute;
        top:15%;
        text-align: center;
        display:grid;
        height:30%;
        background-color: rgba(0, 0, 0, 0);
        row-gap: 2vh;
        align-items: center;
    }
    .mnav a{
        color:#CC9376;
        text-decoration: none;
        background-color: #722d0b4d;
        font-size: calc(2vw + 2vh);
        height: 5vh;
        line-height: 5vh;
    }
    .mnav2 a{
        color:#CC9376;
        text-decoration: none;
        background-color: #722d0b4d;
        font-size: calc(2vw + 2vh);
        height: 5vh;
        line-height: 5vh;
    }
    .socialmicons{
        width:100%;
        position:absolute;
        display:grid;
        grid-template-columns: auto auto;
        top:60%;
        padding:0vh 15vh;
        column-gap: 15vh;
        row-gap: 3vh;
    }
    .socialmicons a{
        background-color:#722d0b4d ;
        width:7vh;
        height:7vh;
        border-radius: 3vh;
    }
    .socialmicons img{
        position:relative;
        width:5vh;
        height:5vh;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    @media only screen and (min-height: 170vw){
        .welcontainer{
            top:43vh;
        }
        .Potrait img{
            width:100vw;
            height:45vh;
        }
        .Potrait{
            top:6vh;
            left:0vw;
        }
        .me{
            top:52vh;
        }
        .you{
            top:72vh;
        }
    }
    @media only screen and (min-width:200vh){
        .Potrait img{
            width:50vw;
            height:80vh;
            border-radius: 50%;
        }
        .Potrait{
            left:0vw;
        }
        .welcontainer{
            top:10vh;
            left:0vw;
        }
        .me{
            top:35vh;
            left:40vw;
            text-align:left;
        }
        .you{
            top:65vh;
            left:40vw;
        }
        .sMedia img{
            height:12vh;
            margin-top:-2vh;
        }
        .sMedia {
            margin-top: 0;
        }
        .formalM img{
            height:12vh;
            margin-top:-2vh;
        }
        .formalM{
            margin-top: 0;
        }
    }
}
.showleft{
    opacity:1;
    animation-name: slideleft;
    animation-duration: 2s;
}
.showright{
    opacity:1;
    animation-name: sliderights;
    animation-duration: 2s;
}
